// Variables Sass personnalisées
$primary-color: rgb(34 197 94);
$secondary-color: #64748b;
$success-color: #10b981;
$warning-color: #f59e0b;
$error-color: #ef4444;
$info-color: #3b82f6;
$light-color: #f3f4f6;
$dark-color: #1e293b;
$blue-sky: #b0cdff;
$blue-dark: #001e4d;
$blue-light: #e5f3ff;
$green-sky: #cffafe;
$green-dark: #004d40;
$green-light: #e6fffa;
$yellow-sky: #fffbeb;
$yellow-dark: #664d03;
$yellow-light: #fff3cd;
$red-sky: #ffe4e1;
$red-dark: #842029;
$red-light: #f8d7da;
$purple-sky: #f3e8ff;
$purple-dark: #581c87;
$purple-light: #e6d6fc;